.page-header > h1, .post-title, .post-content{
    font-family: 'Noto Serif JP', serif;
}

video::cue {
    font-size: 1.6em;
    padding: 2em 0.5em;
    line-height: 1.8em;
    font-family: 'Noto Serif JP', serif;
}

ol {
    list-style-type: cjk-ideographic;
}

p,
ol {
    margin: 0 0.3em 0 0;
}

p {
    text-indent: 1em;
}
